.outerContainer {
  background-color: #555555;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 0.5vh;
}

.container {
  margin-top: 2.42vh;
  background-color: #EBECF0;
  width: 100%;
  overflow-y: scroll;
}

.header {
  background-color: #EBECF0;
  display: flex;
  flex-direction: row;
  padding-left: 1.5vh;
  border-width: 0;
  border-style: solid;
}

.heading {
  color: #68696D;
  font-family: 'Times New Roman', serif, Georgia, Times, serif;
  font-weight: 500;
  font-size: 2.2vh;
  margin-top: 0.8vh;
  margin-bottom: 0.9vh;
}

.mainContainer {
  padding: 1.3vh;
  padding-bottom: 3vh;
  box-shadow: 0vh -0.15vh 0.3vh lightgray;
  background-color: white;
}

.name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.7vh;
  font-weight: 500;
  color: black;
  margin: 0;
  margin-top: 0.35vh;
}

.line {
  width: 100%;
  background-color: #A2A9B1;
  margin-top: 0.5vh;
  height: 0.1vh;
}

.description {
  font-family: sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 1.2vh;
  margin-top: 1vh;
  line-height: 1.8vh;
}

.link {
  color: #10489c;
  font-weight: bold;
  text-decoration-line: none;
}

.link:hover {
  text-decoration-line: underline;
}

.infoTitle {
  margin-top: 0.7vh;
  margin-bottom: 0.6vh;
  font-size: 1.4vh;
}

.infoContainer {
  border-width: 0.1vh;
  border-style: solid;
  border-color: #E8ECEF;
  background-color: #F8F9FB;
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoLine {
  width: 100%;
  background-color: #E8ECEF;
  height: 0.1vh;
}

.image {
  width: 20vh;
  margin-top: 0.6vh;
}

.infoRow {
  display: flex;
  flex-direction: row;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.infoTextLeft {
  font-family: sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 1.2vh;
  line-height: 1.8vh;
  font-weight: bold;
  margin: 0.8vh;
}

.infoTextRight {
  font-family: sans-serif, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  font-size: 1.2vh;
  line-height: 1.8vh;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
}
