.appContainer {
  margin-left: 1.45vh;
  margin-right: 1.45vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.appImageContainer {
  width: 7vh;
  height: 7vh;
  border-radius: 1.7vh;

  background-size: cover;
  background-repeat: no-repeat;
}

.appImageContainer:hover,
.appImageContainer:focus {
  opacitY: 0.55;
}

.appName {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.3vh;
  opacity: 0.8;
  margin-top: 0.5vh;
  color: white;
}