.arrowContainer {
    position: absolute;
    width: 2.8vh;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .arrowContainer:hover,
  .arrowContainer:focus {
    opacity: 0.65;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .arrow {
    width: 1.6vh;
  }