.appContainer {
    width: 100%;
    padding-top: 3.5vh;
    background-image: url(/background.png);
    background-size: cover;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5vh;
}

.appRow {
    margin-top: 0.4vh;
    margin-bottom: 0.4vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottomBar {
    width: 100%;
    padding-top: 1.2vh;
    padding-bottom: 0.4vh;
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}