.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  opacity: 0.65;
}

.image {
  width: 19vh;
  height: 19vh;
  border-radius: 9.5vh;
}

.name {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1vh;
  font-weight: 700;
  margin-top: 1.1vh;
  color: white;
}