.outerContainer {
  background-image: linear-gradient(#333438, #121212, #121212);
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5vh;
}

.scrollContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 1vh;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 4.22vh;
  position: relative;
}

.heading {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 2.2vh;
  margin-left: 1.4vh;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.carouselContainer {
  margin-top: 1.6vh;
  width: 100%;
  position: relative;
  margin-bottom: 2.4vh;
}

.bottomBar {
  width: 100%;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-bottom-left-radius: 0.5vh;
  border-bottom-right-radius: 0.5vh;
}

.bottomButton {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}

.bottomText {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1vh;
  margin-top: 0.2vh;
  margin-bottom: 0;
  color: white;
}

.bottomIcon {
  width: 2.3vh;
  height: 2.3vh;
  color: white;
}

.unselected:hover,
.unselected:focus {
  opacity: 0.75;
  cursor: pointer;
}

.selected {
  opacity: 1;
}

.descriptionText {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 1.4vh;
  margin-top: 0.4vh;
  margin-bottom: 0;
  font-size: 1.2vh;
  letter-spacing: 0.01vh;
  color: #ACACAC;
}

.playlistContainer {
  margin-top: 1.2vh;
}