.backgroundContainer {
  background-image: radial-gradient(white, #C0C0C0);

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outerContainer {
  width: 48vh;
  height: 100vh;
  border-radius: 6vh;

  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topBar {
  width: 9vh;
  height: 1vh;
  border-radius: 0.5vh;
  top: 3.2vh;

  background-image: radial-gradient(#121212, #191919);

  position: absolute;
  align-self: center;
}

.bottomButton {
  width: 5.6vh;
  height: 5.6vh;
  bottom: 2.1vh;
  border-radius: 2.8vh;

  background-image: radial-gradient(#0a0a0a, #181818);

  position: absolute;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomButton:hover,
.bottomButton:focus,
.bottomButton:active {
  background-image: radial-gradient(#141414, #1a1a1a);
}

.innerContainer {
  height: 83vh;
  width: 43vh;
  margin-bottom: 2vh;
  border-radius: 0.5vh;

  background-image: url("/background.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headerContainer {
  width: 41.2vh;
  height: 2vh;
  padding-top: 0.3vh;
  padding-bottom: 0.12vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerRight {
  display: flex;
  flex-direction: row;
}

.wifi {
  width: 1.8vh;
  height: 1.40vh;
  margin-top: 0.1vh;
  margin-right: 0.5vh;
  opacity: 0.9;

  background-image: url("/wifi.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.battery {
  width: 0.9vh;
  height: 1.45vh;
  margin-left: 0.45vh;
  margin-top: 0.1vh;
  opacity: 0.9;

  background-image: url("/battery.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.headerText {
  font-size: 1.4vh;
  margin-top: 0.1vh;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.bottomText {
  font-size: 1.5vh;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
  color: #10489c;
  font-weight: bold;
  text-decoration-line: none;
}

.link:hover,
.link:focus {
  text-decoration-line: underline;
}

.image {
  width: 20vh;
  height: 20vh;
  opacity: 0.1;
}

.image:hover {
  opacity: 0.6;
}

.offContainer {
  width: 43vh;
  height: 83vh;
  margin-bottom: 1.8vh;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  align-items: center;
  justify-content: center;
}

.square {
  width: 1.7vh;
  height: 1.7vh;
  border-style: solid;
  border-radius: 0.55vh;
  border-width: 0.2vh;
  border-color: white;
  opacity: 0.6;
  margin-bottom: 0.1vh;
}