.outerContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5vh;
  overflow: hidden;
}

.header {
  padding-top: 2.8vh;
}

.logo {
  width: 7vh;
  margin-bottom: 0.3vh;
  margin-top: 0.2vh;
  margin-left: 1.3vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1vh;
}

.main::-webkit-scrollbar {
  display: none;
}

.imageCard {
  background-color: white;
}

.line {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #DBDBDB;
}

.imageHeaderContainer {
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vh;
}

.imageHeaderIcon {
  background-image: url(/icons/me.png);
  background-size: cover;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 1.25vh;
}

.imageHeader {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1.2vh;
  margin: 0;
  padding: 0;
  margin-left: 0.8vh;
}

.descriptionContainer {
  padding-left: 1vh;
  padding-right: 1vh;
}

.carouselContainer {
  position: relative;
  margin-bottom: 0.3vh;
}

.image {
  width: 100%;
}

.fadeHeartContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fadeHeart {
  width: 10vh;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.heartIcon {
  margin-top: 0.6vh;
  margin-bottom: 0.4vh;
  width: 2vh;
}

.heartIcon:hover {
  cursor: pointer;
}

.description {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1.2vh;
  margin: 0;
  padding: 0;
}

.date {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #8E8E8E;
  font-size: 0.9vh;
  margin: 0;
  padding: 0;
  margin-top: 0.4vh;
  margin-bottom: 1vh;
}

.dots {
  margin-top: 1.3vh;
  position: absolute;
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}